.item {
  display: flex;
  align-items: center;
  background: rgb(246, 194, 97);
  border-radius: 99px;
  max-height: 100%;
  touch-action: none;
}

.correct {
	background: #009139 !important;
	font-weight: bold;
	color: white;
}
