.message {
	line-height: 48px;
	font-size: 1.2em;
	font-weight: bold;
}

.message + button {
	margin-left: 20px;
}

.pokeball {
	height: 20px;
	width: 20px;
  border: 2px solid var(--black);
	background: linear-gradient(180deg, var(--red) 9px, var(--black) 9px, var(--black) 11px, white 11px);
	display: inline-flex;
	border-radius: 99px;
	margin: 15px 3px;
  transition: all 500ms ease-in-out;
}

.pokeball.fainted {
  animation: shake 200ms forwards;
  filter: saturate(0) brightness(0.5);
}

@keyframes shake {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(25%);
  }
  50% {
    transform: translateX(-10%);
  }
  75% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0%);
  }
}


.scoreTable {
  font-size: 0.5em;
  letter-spacing: 1ch;
}

.orderIcon, .orderIcon::before, .orderIcon::after {
  position: relative;
  display: inline-flex;
  content: '';
  height: 4px;
  width: 1.3ch;
  background-color: currentColor;
}

.orderIcon::before {
  position: absolute;
  top: -6px;
  width: 1.0ch;
}

.orderIcon::after {
  position: absolute;
  top: -12px;
  width: 0.7ch;
}
