.examples {
  transform: scale(0.8);
  display: flex;
  flex-direction: column;
}

.item.example {
  position: relative;
	gap: 10px;
	margin: 5px 0;
	padding-right: 50px;
  z-index: 1;
}

.item.example img {
  image-rendering: auto;
  height: 130%;
}

.item.example:nth-of-type(1) {
  margin-right: 40px;
  animation:
    move-up 500ms linear backwards 500ms,
    turn-green 200ms ease-in-out forwards 1300ms;
}
.item.example:nth-of-type(2) {
  margin-right: 20px;
  animation:
    move-up 500ms linear backwards 500ms,
    turn-green 200ms ease-in-out forwards 1500ms;
}
.item.example:nth-of-type(3) {
  left: 0px;
  animation:
    move-down 500ms linear backwards 500ms,
    turn-green 200ms ease-in-out forwards 1700ms;
}

@keyframes move-up {
  0% {
    transform: translateY(calc(100% + 10px));
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes move-down {
  0% {
    left: 0px;
    transform: translateY(calc(-200% - 20px)) scale(1);
  }
  50% {
    left: 20px;
    transform: translateY(calc(-100% - 10px)) scale(1.2);
  }
  100% {
    left: 0px;
    transform: translateY(0%) scale(1);
  }
}

@keyframes turn-green {
  from {
    background-color: rgb(246, 194, 97);
    color: var(--black);
  }
  to {
    background-color: var(--green);
    color: white;
  }
}

